.head{
    margin: 5px;
    line-height: 6px;
    padding: auto;
 }


strong { 
    line-height: 15px;
}


.container{
    margin: 0;
    width: 100%;  
}

.images{
    display: flex;
}
.image{
    min-width:100%;
    max-width: 100%;
    transition:2s;
        
   }
.image img{
    width: 70%;
    height: 60%;
    border-radius: 10px;
    margin-left: 15.5%;
    margin-top: 18px;
}

.images input{
display: none;
}

.navigation-manual{
    display: flex;
     margin-left:39%;
    margin-top:-35% ;
   }


.manual-btn{
    border-radius:1%;
    cursor: pointer;
    transition-delay: 1s;
    padding: 2%;
    margin: 2%;
    opacity: 2;
    background:blue;
}

.manual-btn:hover{
    background: #f307a4;
}

#radio1:checked ~  .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -100%;
}
#radio3:checked ~ .first{
    margin-left: -200%;
}
#radio4:checked ~ .first{
    margin-left: -300%;
}
#radio5:checked ~ .first{
    margin-left: -400%;
}
#radio6:checked ~ .first{
    margin-left: -500%;
}




a{
    text-decoration: none;
    text-transform: capitalize;
}

a:hover{
    color: rgb(16, 171, 233);
    text-decoration: underline;
    background-color: darkmagenta;
    border-radius: 2px;
}

a:visited{
    color: rgb(83, 116, 189);
    text-decoration: underline;
    background-color: rgb(228, 15, 104);
    border-radius: 2px;
}

footer{
    background-color:rgb(95,189,110);
    border-radius: 7px;
    margin: 15px;
    padding: 15px;
    font-size: 18px;
}

body{
    background: white;
}

.content{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 2%;
    padding: 10px;
    box-sizing: border-box;
    font-weight:normal;
    background:rgb(95,189, 110);
    border-radius: 7px;
    color:rgb(41,39,40);
      
}
.visits img{
    width: 30%;
    height: 40%;
    border-radius: 5px;
    display: inline-flex;
    border: 4px solid  rgb(9, 238, 181);
}
.moments img{
    width: 30%;
    height: 40%;
    border-radius: 5px;
    display: inline-flex;
    border: 4px solid  rgb(9, 238, 181);
}
.challenges img{
    width: 40%;
    height: 60%;
    border-radius: 5px;
    display: inline-flex;
    border: 4px solid rgb(9, 238, 181);
    margin-left: 2%;
}
.challenge img{
    width: 30%;
    height: 50%;
    border-radius: 5px;
    display: inline-flex;
    border: 4px solid rgb(9, 238, 181);
}
.conclusion p{
    font:rgb(6, 247, 46);
    font-size:14px;
}

header{
    border-radius: 4px;
    background-color:rgb(95,189,110);
    margin:1%;
    padding:1%;
    color: rgb(41, 39, 40);
    overflow:auto;
}
header p {
    margin-left:25%;
    width : 5%;
}

header strong{
    width :5%;
    margin-left: 700%;
    clear:both;
}
header img{
    width: 25%;
    border-radius: 5px;
    margin-left: 32%;
    margin-bottom: -7%;
}


ol {
    text-decoration: none;
}
.Founders{
    float: left;
    width: 20%;
    margin-left: 1%;
    overflow:auto;
}

.Founders img{
     width: 100%;
    border-radius: 5px;
    border: 4px solid  rgb(9, 238, 181);
}

.Supporters{
    float:right;
    width: 20%;
}

        .Mission{
            float:left;
            width: 20%;
            clear: left;
            margin-left: 1%;
            overflow: auto;
        }

.Mission img{
     width: 100%;
    border-radius: 5px;
    border: 4px solid  rgb(9, 238, 181);
}
    
        .success{
            float:left;
            width: 20%;
        }

.success img{
     width: 90%;
    border-radius: 5px;
    border: 4px solid  rgb(9, 238, 181);
}

.images2 img{
    width: 20%;
    border-radius: 5px;
    display: inline-flex;
    border: 4px solid rgb(9, 238, 181);
        }


.pics img{
    width: 100%;
    border-radius: 5px;
    border: 4px solid  rgb(9, 238, 181);
}
.images2{
    margin-left: 20%;
}

.images{
    overflow: hidden;
}
































